<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- {{> header }} 
    <br>
    HOME --}}
    <div>
        <form action="/profile" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" />
  <input type="submit" value="Upload">
</form>
{{!-- <h1>Welcome, {{username}}</h1> --}}

<h1>Welcome, {{username}}</h1>

    {{#if avatar}}
        <img src="/{{avatar}}" alt="Profile Avatar" width="150" height="150">
    {{else}}
        <p>No profile picture available.</p>
    {{/if}}
    </div>
</body>
</html>