<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    {{!-- hm apne data ko fetch kr skte hai server se using double curly braces --}}
    {{username}}
</body>
</html>

{{!-- data=[
name age 
name age
] --}}
